# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/
.venv/
env/

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
